<hello name="{{ name }}"></hello>

<ol>
  <li>Typed Reactive Forms</li>
  <li>Standalone Components</li>
</ol>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
  </div>

  <div>
    <label for="age">Age</label>
    <input id="age" type="number" formControlName="age" />
  </div>
  <button>Submit</button>
</form>

<a
  target="_blank"
  href="https://blog.angular.io/angular-v14-is-now-available-391a6db736af"
  >Angular 14 release blogpost</a
>
